.nav {
    width: 100%;
    height: 100px;
    background-color: #3A506B;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    padding: 16px;
}


.navItem {
    border-radius: 12px;
    width: 50%;
    height: 60px;
    padding: 8px 16px;
    background: #1C2541;
    border: none;
    color: white;
    transition: 0.2s;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.navItem:disabled,
.navItem[disabled] {
    opacity: 0.5;
}

.navItem:focus {
    outline: none;
}

.navItem:hover {
    opacity: 0.7;
    cursor: pointer;
}