@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}




























