.gridContainer {
    display: grid;
    overflow: hidden;
    grid-template-columns: minmax(240px, 400px) minmax(260px, 1fr) minmax(240px, 400px);
    height: 100%;
}

@media screen and (max-width: 768px) {
    .gridContainer {

    }
}